In [41]:
names = []
email_ids = []

In [42]:
import sqlite3
import pandas as pd

# === CONFIG ===
db_name = "shortlisted_candidates.db"  # <-- Replace with your actual DB name

try:
    # Connect to SQLite DB
    conn = sqlite3.connect(db_name)

    # Query the table
    query = "SELECT NAME,EMAIL_ADDRESS FROM SHORTLISTED_CANDIDATES"
   # df = pd.read_sql_query(query, conn)
    cursor = conn.cursor()
    result =  cursor.execute(query)

    # Show results
   # print("✅ Data fetched successfully:")
    #print(df)
    for row in result:
        print(row)
        names.append(row[0])
        email_ids.append(row[1])    

    conn.close()

except sqlite3.Error as e:
    print(f"❌ SQLite error: {e}")

('John Doe', 'john.doe@email.com')
('Olivia Martinez', 'olivia.martinez@email.com')
('Liam Turner', 'liam.turner@email.com')
('Ava Scott', 'ava.scott@email.com')
('Ethan Hall', 'ethan.hall@email.com')
('Daniel Adams', 'daniel.adams@email.com')
('Chloe Bennett', 'chloe.bennett@email.com')
('Noah Carter', 'noah.carter@email.com')
('Mia Foster', 'mia.foster@email.com')
('William Brooks', 'william.brooks@email.com')
('Jane Smith', 'jane.smith@email.com')
('Lily Parker', 'lily.parker@email.com')
('Mark Johnson', 'mark.johnson@email.com')
('Sarah Lee', 'sarah.lee@email.com')
('Robert Wilson', 'robert.wilson@email.com')
('Emma Johnson', 'emma.johnson@email.com')
('Rahul Mehta', 'rahul.mehta@email.com')
('Sophia Lee', 'sophia.lee@email.com')
('Carlos Rivera', 'carlos.rivera@email.com')

In [37]:
df  = pd.read_csv("shortlisted_candidates.csv")

In [38]:
df.head()

,NAME,MATCH_PERCENTAGE,PHONE_NUMBER,EMAIL_ADDRESS,SKILLS,EXPERIENCE,RESUME_CONTENT
0,John Doe,85,+1 123 -456-7890,john.doe@email.com,"JavaScript, Python, SQL, React, Node.js, Djang...",3+ years of experience in full -stack web deve...,Name: John Doe\nEmail: john.doe@email.com\nPho...
1,Olivia Martinez,92,+1 111 -222-3333,olivia.martinez@email.com,"Python, R, SQL, TensorFlow, Keras, Bioconducto...",2017 -Present,Name: Olivia Martinez \nEmail: olivia.martin...
2,Liam Turner,78,+1 333 -444-5555,liam.turner@email.com,"Java, Kotlin, Python, Spring Boot, AWS Lambda,...",2019 -Present,Name: Liam Turner \nEmail: liam.turner@email...
3,Ava Scott,88,+1 777 -888-9999,ava.scott@email.com,"Figma, Sketch, Adobe XD",2018 -Present,Name: Ava Scott \nEmail: ava.scott@email.com...
4,Ethan Hall,75,+1 555 -777-8888,ethan.hall@email.com,"Kali Linux, Wireshark, Splunk",2019 -Present,Name: Ethan Hall \nEmail: ethan.hall@email.c...

In [44]:
print(email_ids)

['john.doe@email.com', 'olivia.martinez@email.com', 'liam.turner@email.com', 'ava.scott@email.com', 'ethan.hall@email.com', 'daniel.adams@email.com', 'chloe.bennett@email.com', 'noah.carter@email.com', 'mia.foster@email.com', 'william.brooks@email.com', 'jane.smith@email.com', 'lily.parker@email.com', 'mark.johnson@email.com', 'sarah.lee@email.com', 'robert.wilson@email.com', 'emma.johnson@email.com', 'rahul.mehta@email.com', 'sophia.lee@email.com', 'carlos.rivera@email.com']